<div class="row" >
  <div class="col-8 photo">
    <div class="card">
      <img [src]="data[0].img" alt="tes">
      <div class="card-body">
        <span>{{data[0].dummy}}</span>
        <small>{{data[0].name}}</small>
      </div>
    </div>
  </div>
  <div class="col-4 photo-small">
    <div class="card card-vertical">
      <img [src]="data[1].img" alt="tes">
      <div class="card-body">
        <span>{{data[1].dummy}}</span>
        <small>{{data[1].name}}</small>
      </div>
    </div>
    <div class="card card-vertical">
      <img [src]="data[2].img" alt="tes">
      <div class="card-body">
        <span>{{data[2].dummy}}</span>
        <small>{{data[2].name}}</small>
      </div>
    </div>
  </div>
  <div class="col-12 photo-small">
    <div class="card card-horizontal">
      <img [src]="data[3].img" alt="tes">
      <div class="card-body">
        <span>{{data[3].dummy}}</span>
        <small>{{data[3].name}}</small>
      </div>
    </div>
    <div class="card card-horizontal">
      <img [src]="data[4].img" alt="tes">
      <div class="card-body">
        <span>{{data[4].dummy}}</span>
        <small>{{data[4].name}}</small>
      </div>
    </div>
    <div class="card card-horizontal">
      <img [src]="data[5].img" alt="tes">
      <div class="card-body">
        <span>{{data[5].dummy}}</span>
        <small>{{data[5].name}}</small>
      </div>
    </div>
  </div>
</div>
